@use 'src/assets/style/global.scss' as *;

@mixin panelLeftAndRight {
  // 防止未悬浮情况下元素塌陷
  @apply fixed z-10;
  height: calc(100vh - var(--style-header-height));
  top: var(--style-header-height);
}

.panel-wrapper {
  @apply flex;
  width: $panelDefaultWidth;
  min-width: 20vw;
  max-width: calc(var(--body-width) / 2 - var(--edit-panel-width) / 2 - var(--blank-min-width));
}
